*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav section design starts here  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 0 120px;
}
.nav-title{
    font-size: 45px;
    color: #181818;
    font-weight: 800;
}
.text-primary{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 30px;
    color: #474747;
    
}
nav a{
    text-decoration: none;
    /* padding: 12px 25px ; */
    border-radius: 5px;
    padding: 7px 13px ;
    color: #474747;
}
nav a:hover{
    text-decoration: underline;
}
.btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    border: 2px solid #FD6E0A;
    padding: 7px 13px ;
    color: #fff;
    margin: none;
    /* font-size: 20px; */
    transition: all .3s;
}
.btn:hover{
    color: #474747;
    background: none;

}

/* nav section design ends here  */

/* banner seection design starts here  */

.header{
    background-color: #FFF8F3;
    background-image: url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 4.5%
}
.contact-btn{
    background: none;
    color: #FD6E0A;
    width: 110px;
    margin-left: 10px;
}
.banner-div{
    margin: 60px 0px 10px 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 78vh; */
    background-image: url("../images/header_bg.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-right: 30px;
}
.banner-profile-pic{
    width: 300px;
}
.banner-1st-text{
    font-size: 1.9rem;
    margin-bottom: 4px;
}
.banner-title{
    font-size: 2.5rem;
    margin-bottom: 5px;
}
.banner-para{
    margin-top: 6px;
    color: #474747;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* banner section design ends here  */

.about{
    background-color: #FFF8F3;
    padding: 90px;
    margin: 90px 0px;
}
.section-title{
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}
.section-description{
    font-size: small;
    color: #474747;
    text-align: center;
}
main{
    width: 940px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    padding: 5px 15px;
}
.about-info{
    text-align: center;
}
.info-title{
    color: #474747;
    font-weight: 400;
}
.info-desc{
    font-weight: bolder;
    font-size: .9rem;
}
.what-i-do-container{
    padding: 0px 90px 30px 90px;

}
.skills-container{
    display: flex;
    justify-content: space-around;
    padding: 0px 50px;
}
.skill{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.6);
    padding: 22px;
    margin: 0px 13px;
}
.skill-title{
    font-size: 1rem;
    margin-bottom: 10px;
}
.skill-img{
    width: 40px;
    margin-bottom: 10px;
}
.skill-desc{
    font-size: small;
    color: #474747;
}.section-descript{
    font-size: small;
    color: #474747;
}
.summary-container{
    display: flex;
}
.left , .right {
    padding: 15px;
}
.resume{
    margin: 70px 0px;
}